<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <display-name>UICDS TestWeb Service Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>

    <!-- Filters for hibernate collection support
    <filter>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <url-pattern>/pub/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>-->



    <!--
        - Loads the root application context of this web app at startup. - The application context
        is then available via - WebApplicationContextUtils.getWebApplicationContext(servletContext).
    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--
        ==================================== SPRING WS SERVLET ====================================
    -->
    <servlet>
        <servlet-name>spring-ws</servlet-name>
        <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
        <init-param>
            <param-name>transformWsdlLocations</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-ws</servlet-name>
        <url-pattern>/ws/services/*</url-pattern>
    </servlet-mapping>
    <!--
        ==================================== SPRING MVC SERVLET ====================================
    -->
    <servlet>
        <servlet-name>mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--
        ==================================== userSmarts Dispatcher =================================
    -->

    <!--
        ================================= GWT REMOTE SERVICE PROXIES
        ================================
    -->


    <!--
        ==================================== SPRING MVC SERVLET MAPPING
        ====================================
    -->
    <servlet-mapping>
        <servlet-name>mvc</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mvc</servlet-name>
        <url-pattern>*.xsd</url-pattern>
    </servlet-mapping>

    <!--
        <servlet-mapping> <servlet-name>mvc</servlet-name> <url-pattern>/*</url-pattern>
        </servlet-mapping> <filter> <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> </filter>

        <filter-mapping> <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern> </filter-mapping>
    -->

</web-app>
